.left_side {
    height: 94vh;
    width: 70vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
}

.leaflet-map-container {
    height: 100%;
}

.title {
    height: 40px;
    padding: 10px;
    background-color: #246387;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    align-items: center;
    margin: 0;
}

.title h1 {
    font-size: 20px;
    margin: 0;
}

.title p {
    font-size: 10px;
    font-weight: normal;
    margin: 0;
}

/* I hate tablets */
@media screen and (width: 768px) and (height: 1024px),
screen and (width: 820px) and (height: 1180px),
screen and (width: 1024px) and (height: 1366px)  {
    .left_side {
        display: none;
    }
}

/* Media query for phones sizes */
@media screen and (max-width: 440px) and (max-height: 940px) {
    .left_side {
        height: 43dvh;
        width: 100%;
    }

    .title p {
        font-size: 9.5px;
    }

    .title h1 {
        font-size: 19.5px;
    }
}

/* Media query for titled phones sizes */
@media screen and (max-width: 940px) and (max-height: 440px) {
    .left_side {
        height: 90dvh;
        width: 100%;
    }
}

/* Media query for small phone */
@media screen and (max-width: 375px) and (max-height: 667px) {
    .left_side {
        height: 50dvh;
        width: 100%;
    }

    .title p {
        font-size: 9.5px;
    }

    .title h1 {
        font-size: 19.5px;
    }
}
/* test */