html,
body {
    margin: 10px;
    background-color: #265068;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

#root {
    display: flex;
    gap: 20px;
    justify-content: space-around;

}

@media screen and (max-width: 440px) and (max-height: 940px) {
    #root {
        gap: 10px;
        flex-direction: column;
    }
}

@media screen and (max-width: 375px) and (max-height: 667px) {

    html,
    body {
        margin: 1dvh 1dvw;
        height: 98dvh;
    }

    #root {
        gap: 1dvh;
    }
}