/* Define CSS variables */
:root {
    --primary-color: #246387;
    --secondary-color: #45A2D6;
    --tertiary-color: aliceblue;
    --input-border: 2px solid var(--secondary-color);
    --border-radius: 10px;
    --font-weight-bold: bolder;
    --font-size: 11px;
}

.turn_your_screen {
    display: none;
}

.move_up_and_down{
    display: none;
}

/* Styling for the menu container */
.menu {
    display: flex;
    flex-direction: column;
    height: 94vh;
    width: 25vw;
    border-radius: 15px;
    background-color: var(--tertiary-color);
    overflow: hidden;
}

/* Styling for horizontal line */
hr {
    margin: 20px;
}

/* Styling for form of travel section */
.form_of_travel {
    background-color: var(--primary-color);
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.form_of_travel label input {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.form_of_travel input[type="radio"]:checked+svg {
    fill: var(--secondary-color);
}

/* Styling for SVG icons in form of travel */
.form_of_travel svg {
    height: 30px;
    width: auto;
    fill: aliceblue;
}

/* Styling for SVG hover effect */
.form_of_travel svg:hover {
    fill: var(--secondary-color);
}

/* Styling for form distance section */
.form_distance {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 0 20px;
    gap: 20px;
}

/* Styling for input fields in form distance */
.form_distance input {
    height: 35px;
    border: var(--input-border);
    border-radius: var(--border-radius);
    color: var(--primary-color);
    font-weight: var(--font-weight-bold);
    text-indent: 10px;
}

/* Styling for placeholder text in input fields */
.form_distance input::placeholder {
    color: var(--primary-color);
    font-weight: var(--font-weight-bold);
    text-indent: 10px;
}

/* Styling for form date section */
.form_date {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* Styling for date input fields */
.form_date input {
    width: 100%;
}

/* Styling for search button */
.form_distance button {
    border-radius: var(--border-radius);
    border: 0;
    background-color: var(--secondary-color);
    color: aliceblue;
    height: 25px;
    width: 70%;
    align-self: center;
}

/* Styling for padding */
.options {
    margin: 0 20px;
}

/* Styling for filters section */
.filters {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Styling for select dropdowns */
.filters select {
    border: solid 2px var(--secondary-color);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    text-indent: 10px;
    height: 35px;
    width: 100%;
    color: var(--primary-color);
    font-weight: var(--font-weight-bold);
}

.filters button {
    border-radius: var(--border-radius);
    border: 0;
    background-color: var(--secondary-color);
    color: aliceblue;
    height: 25px;
    width: 70%;
    align-self: center;
}

/* Styling for total section */
.total {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* Styling for total price containers */
.total_price {
    display: flex;
    height: 45px;
    align-items: center;
    width: 100%;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    color: var(--secondary-color);
    font-weight: var(--font-weight-bold);
    justify-content: center;
    flex-direction: column;
}

/* Styling for text within total price containers */
.total_price p {
    font-size: var(--font-size);
    margin: 0;
}

/* Media query for tablets sizes */
@media screen and (max-width: 1180px) and (max-height: 820px) {

    .form_distance input,
    .form_distance input::placeholder,
    .filters select,
    .total_price p {
        font-size: calc(var(--font-size) - 0.5px);
    }
}

/* I hate tablets */
@media screen and (width: 768px) and (height: 1024px),
screen and (width: 820px) and (height: 1180px),
screen and (width: 1024px) and (height: 1366px) {
    .menu {
        display: none;
    }

    .turn_your_screen {
        height: 100vh;
        display: flex;
        align-items: center;
        color: aliceblue;
    }
}

/* Media query for phones sizes */
@media screen and (max-width: 440px) and (max-height: 940px) {
    .menu {
        display: flex;
        height: 51dvh;
        width: 100%;
        border-radius: 15px;
    }

    hr {
        margin: 15px;
    }

    .filters {
        gap: 10px;
    }

    /* Styling for select dropdowns */
    .filters select {
        height: 34.5px;
    }

    .filters button {
        height: 40px;
    }

    .form_of_travel {
        background-color: var(--primary-color);
        display: flex;
        height: 35px;
        padding: 10px 20px;
    }

    /* Styling for SVG icons in form of travel */
    .form_of_travel svg {
        height: 25px;
        width: auto;
        fill: aliceblue;
    }

    /* Styling for form distance section */
    .form_distance {
        gap: 10px;
    }

    /* Styling for input fields in form distance */
    .form_distance input {
        height: 35px;
        text-indent: 10px;
    }

    /* Styling for placeholder text in input fields */
    .form_distance input::placeholder {
        text-indent: 10px;
    }

    .grouping_options {
        display: flex;
        justify-content: space-around;
    }

    .total {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .total_price {
        width: 138px;
    }
}

@media screen and (max-width: 414px) and (max-height: 896px) {
    .menu {
        overflow: scroll;
    }

    .move_up_and_down svg{
        height: 11px;
        fill: var(--secondary-color);
        align-self: center;
    }

    hr {
        margin: 15px;
    }

    .filters {
        gap: 10px;
    }

    /* Styling for select dropdowns */
    .filters select {
        height: 34.5px;
    }

    .filters button {
        height: 40px;
    }

    .form_of_travel {
        background-color: var(--primary-color);
        display: flex;
        height: 35px;
        padding: 10px 20px;
    }

    /* Styling for SVG icons in form of travel */
    .form_of_travel svg {
        height: 25px;
        width: auto;
        fill: aliceblue;
    }

    /* Styling for form distance section */
    .form_distance {
        gap: 10px;
    }

    /* Styling for input fields in form distance */
    .form_distance input {
        height: 35px;
        text-indent: 10px;
    }

    /* Styling for placeholder text in input fields */
    .form_distance input::placeholder {
        text-indent: 10px;
    }

    .grouping_options {
        display: flex;
        justify-content: space-around;
    }

    .total {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .total_price {
        width: 138px;
    }
}

/* Media query for small phone */
@media screen and (max-width: 375px) and (max-height: 667px) {
    .menu {
        display: flex;
        height: 45dvh;
        width: 100%;
        border-radius: 15px;
        overflow: scroll;
    }

    .options{
        display: flex;
        flex-direction: column;
    }

    .move_up_and_down{
        display: flex;
        align-self: center;
        justify-self: center;
        font-size: 11px;
        color: var(--secondary-color);
        text-decoration: none;
    }

    .move_up_and_down svg{
        height: 11px;
        fill: var(--secondary-color);
        align-self: center;
    }

    hr {
        margin: 15px;
    }

    .filters {
        gap: 10px;
    }

    /* Styling for select dropdowns */
    .filters select {
        height: 34.5px;
    }

    .filters button {
        height: 40px;
    }

    .form_of_travel {
        background-color: var(--primary-color);
        display: flex;
        height: 35px;
        padding: 10px 20px;
    }

    /* Styling for SVG icons in form of travel */
    .form_of_travel svg {
        height: 25px;
        width: auto;
        fill: aliceblue;
    }

    /* Styling for form distance section */
    .form_distance {
        gap: 10px;
    }

    /* Styling for input fields in form distance */
    .form_distance input {
        height: 35px;
        text-indent: 10px;
    }

    /* Styling for placeholder text in input fields */
    .form_distance input::placeholder {
        text-indent: 10px;
    }

    .grouping_options {
        display: flex;
        justify-content: space-around;
    }

    .total {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .total_price {
        width: 138px;
    }
}

/* Media query for titled phones sizes */
@media screen and (max-width: 940px) and (max-height: 440px) {
    .menu {
        display: none;
    }
}